.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  width: 415px; 
}

.header{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.menuitem {
  margin-top: 0;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: beige;
}

#board {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 5px;
}

#board div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  font-size: 3em;
}
